.card{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    margin-bottom: 5px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    margin: 5px;
}

.card-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}